<div class="container-fluid">
  <%= image_tag("cookie-border.jpg", class: "img-responsive cookie-border") %>
  <h1>About Yummy Cookies!</h1>
  <h3> Yummy Cookies! is a web app to demonstrate my proficiency with Ruby on Rails.</h3>
  <h3> I also love to bake and eat cookies. </h3>
  <h2>Who doesn't love yummy cookies!</h2>
</div> <!--end container-fluid -->
