<div class="container-fluid contact-page">
  <h1>Contact Yummy Cookies!</h1>
  <h2>There are several ways to contact us:</h2>
  <p>email</p>
  <h3>email form here</h3>
  <p>phone</p>
  <h3>401-555-1212</h3>
  <p>social media</p>
  <%= image_tag("social-media-icons.png", class: "img-responsive social-media-icons") %>
</div> <!-- end container-fluid -->
