<h1>Contact Bikes Berlin</h1>
<h2>There are several ways to contact us:</h2>
<h3>email</h3>
<p>email form here</p>
<h3>phone</h3>
<p>xxx-xxx-xxxx</p>
<h3>social media</h3>
<p>Social Media Links Here </p>
