<table>
  <tbody>
    <tr>
      <td align="center" style="color: #006400; font-family: Papyrus, Georgia, serif; font-size: 28px;">
        Yummy Cookies!
      </td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 14px;">
         You have recieved a new Yummy Cookies! contact form message. The contents of the message are:
       </td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;"><%= @message %></td>
    </tr>
  </tbody>
</table>
