<table>
  <tbody>
    <tr>
      <td align="center" style="color: #006400; font-family: Papyrus, Georgia, serif; font-size: 24px;">
        Yummy Cookies!
      </td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;"> Thank you for your order of one dozen <%= @product.name %> cookies! </td>
    </tr>
  </tbody>
</table>
