<table>
  <tbody>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 20px;">Welcome!</td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;">Thank you for signing up with</td>
    </tr>
    <tr>
      <td align="center" style="color: #006400; font-family: Papyrus, Georgia, serif; font-size: 28px;">
        Yummy Cookies!
      </td>
    </tr>
    <tr>
      <td style="color: #8B4513; font-family: Palatino, Georgia, serif; font-size: 16px;"><%= @appname %>!</td>
    </tr>
  </tbody>
</table>
