<div class="thank-you-page container-fluid">
  <div class="col-sm-12 yc-logo">
    <%= image_tag("yc-logo.png", class: "yc-logo img-responsive col-sm-4 col-sm-offset-4") %>
  </div>

  <div class="thank-you-message">
      <h3> Thank you for your order! </h3>
  </div> <!-- end thank-you-message -->

  <div class="show-back-links col-sm-12">
    <h4> <%= link_to 'Back to all the cookies', products_path %> |
  </div>

</div> <!-- end thank-you-page -->
