.edit-form, .contact-form {
  background-color: darkgreen;
  padding: 1%;
}
.edit-labels, .contact-labels {
  color: #f5f5f5;
  font-style: italic;
  // font-size: 1.25em;
}
.submit-button {
  border-color: black;
  background-color: saddlebrown;
  color: #f5f5f5;
  margin-top: 1%;
}

.contact-form {
  margin-top: 2%;
}
