.navbar {
  background-color: #ccffcc;
}
.nav-menu ul {
  margin: 0;
}
.nav-menu ul li {
  display: inline-block;
}
.navbar-brand {
  padding-top: 1%;
}
.nav-pills {
  font-size: 1.5em;
  color: #8B4513;
  padding-top: 1%;
}
.navbar-toggle .icon-bar {
  background-color: #8b4513;
}
.nav-pills li a:active,
.nav-pills li a:focus,
.nav-pills li a:hover {
    color: #f5f5f5;
    background-color: darkgreen;
}
.search-label {
  margin: 3px 0;
  font-family: Palatino, Georgia, serif;
  font-size: 1.25em;
  color: #8B4513;
}
.search-button {
  background-color: darkgreen;
  color: #f5f5f5;
  border-color: black;
  padding: 2px;
}
