// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Form Formatting is in the forms.scss file

// Products Partial
.products {
  margin-left: 6%;
}
.product-name {
  font-family: Papyrus, Georgia, serif;
  font-size: 1.75em;
  color: saddlebrown;
}
.product-desc {
  font-family: Palatino, Georgia, serif;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 4% 0;
}
.prod-img {
  height: 200px;
  margin: 0 auto;
}
.p-margin-center {
  margin: 0 auto;
}
.edit-prod-links {
  text-align: center;
  margin: 1% 0;
}
.new-prod-link {
  padding: 5% 0;
  text-align: center;
}

// Show One Procuct Page
.show-price,
.show-price-color-code {
  // font-size: 1.25em;
  margin: 1% auto;
}
.show-product-desc {
  font-family: Palatino, Georgia, serif;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 1% 0;
}
.show-back-links {
  margin-top: 1%;
  // font-size: 1.25em;
  text-align: center;
}

// Edit Product Page
.edit-page {
  margin-top: 5%;
}
.edit-page h1 {
  margin-bottom: 1%;
}

// New Product Page
.new-product-page {
  margin-top: 5%;
}

// Form Formatting is in the forms.scss file
