// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-name {
  font-family: Papyrus, Georgia, serif;
  font-size: 2em;
  color: saddlebrown;
}
.product-desc {
  font-family: Palatino, Georgia, serif;
  font-size: 1.5em;
  margin: 1% 0;
  color: saddlebrown;
}
.prod-img {
  height: 100%;
}
.edit-links {
  margin: 1% 0;
}
.new-prod-link {
  padding: 5% 0;

}
