// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  margin-left: 6%;
}
.product-name {
  font-family: Papyrus, Georgia, serif;
  font-size: 2em;
  color: saddlebrown;
}
.product-desc {
  font-family: Palatino, Georgia, serif;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 4% 0;
}
.prod-img {
  height: 100%;
  margin: 0 auto;
}
.p-margin-center {
  margin: 0 auto;
}
.edit-prod-links {
  text-align: center;
  margin: 1% 0;
}
.new-prod-link {
  padding: 5% 0;
  text-align: center;
}

.show-price,
.show-price-color-code {
  font-size: 1.25em;
  margin: 1% auto;
}
.show-product-desc {
  font-family: Palatino, Georgia, serif;
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 1% 0;
}
