// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 5%;
  padding-bottom: 10%;
  font-family: Palatino, Georgia, serif;
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
  color: darkgreen;
}
h1 {
  font-family: Papyrus, Georgia, serif;
}
h3,
p {
  text-align: center;
  color: #8B4513;
}

#notice {
  font-size: 1.3em;
  font-style: italic;
}

.yc-logo-lg {
  margin-top: 5%;
}

.sticky-footer p{
  text-align: center;
  margin: 1%;
  background-color: #ccffcc;
}

.cookie-border {
  margin: auto;
}

// Landing Page
.brown-h2 {
  color: #8B4513;
}
.carousel {
  margin-top: 1%;
}
.carousel-img {
  margin-left: 4%;
  height: 400px;
}
.carousel-indicators {
  left: 20%;
  margin: 50% 0 0 0;
}

// Thank you Page
.thank-you-message {
  margin-top: 10%;
}
