// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1,
h2 {
  text-align: center;
  color: darkblue;
}
h1 {
  font-family: Papyrus, Georgia, serif;
}
h2 {
  font-family: Palatino, Georgia, serif;
}
h3,
p {
  font-family: Palatino, Georgia, serif;
  color: darkgreen;
}

.sticky-footer p{
  text-align: center;
}

.contact-page h3, p {
  text-align: center;
}

.social-media-icons {
  margin: 0 auto;
}
