<div class="new-product-page container-fluid">

  <h1>New Product</h1>

  <%= render 'form', product: @product %>

  <div class="show-back-links col-sm-12">
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>
</div> <!-- end container-fluid -->
