<h1>New Product</h1>

<div class="container-fluid">
  <%= render 'form', product: @product %>

  <div class="editpg-show-back col-sm-12">
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>
</div> <!-- end container-fluid -->
