<!DOCTYPE html>
<html>
  <head>
    <title>Yummy Cookies!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
    <nav class="navbar navbar-fixed-top nav-menu">
      <ul class="nav-items">
        <li> <a href="/static_pages/landing_page"> Home </a></li>
        <li> <a href="/static_pages/about"> About </a></li>
        <li> <a href="/products"> Products </a></li>
        <li> <a href="/static_pages/contact"> Contact </a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer class="navbar-fixed-bottom">
      <div class="container-fluid sticky-footer">
        <p> &copy 2016 Yummy Cookies ~ 123 Filler St Coventry RI 02816 ~ 401-555-1212 <p>
      </div> <!-- end container-fluid -->
    </footer>
  </body>
</html>
